@using Disposable.Web.MvcExtensions
@model Disposable.ViewModels.Registration.RegistrationViewModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.FormattedLabelFor(m => m.Email, new { autocomplete="off" })
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.FormattedLabelFor(m => m.Password, new { autocomplete="off" })
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.FormattedLabelFor(m => m.ConfirmPassword, new { autocomplete="off" })
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
